* {margin: 0; padding: 0;}
body {
	background-color: #00bff3;
}
#scoll {
	left: 0;
    top: 0;
    width: 100%;
    height: 27315px;
}

#game-container {
	position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.page {
	position: absolute;
    left: 0;
    top: 100%;
    height: 100%;
}
#page-ground {
    width: 22500px;
    top: 0px;
    left: 0px;
    z-index: -1;
}
.ground-container1 {
	position: absolute;
    left: 0;
    top: 80%;
    width: 9500px;
    height: 90%;
}
.grass {
	position: absolute;
    background-image: url(../img/grass.png);
    width: 100%;
    height: 50px;
}
.baseground {
    position: absolute;
	height: 100%;
    width: 100%;
    background-image: url(../img/ground.png);
}


#page-chapter {
	top: 0;
	width: 10000px;
}

#hudt-container {
	position: absolute;
	left: 50%;
	bottom: 66.6px;
}
#hudt {
    position: relative;
    left: -50%;
    width: 200px;
    height: 175px;
    overflow: hidden;
}

#hudt-sildes {
	left: 0;
    top: 0;
    width: 1800px;
    height: 400px;
    background-image: url(../img/hudt.png);
}


.chapter {
	position: relative;
	float:left;
    height: 80%;
    width: 4000px;
}
#chapter-1 {
	width: 1366px;
}
#chapter-1 #obj-word-1 {
	position: absolute;
    top: 35%;
    width: 550px;
    text-align: center;
    left: 50%;
    color: #fff;
    margin-left: -275px;
    font-size: 80px;
}

#chapter-2 {
	width: 2000px;
}
#chapter-3 {
	width: 1200px;
}
#chapter-4 {
	width: 2000px;
}
#chapter-5 {
	width: 1330px;
}

.school-gate {
    position: absolute;
    bottom: 0;
    width: 320px;
    height: 300px;
    background-image: url(../img/gate_orange.png);
}

.school-name {
	position: absolute;
	font-size: 40px;
    color: #fff;
    text-align: center;
    top: 16px;
    left: 30px;
}

.school-years {
	position: absolute;
	font-size: 20px;
    color: #fff;
    text-align: center;
    top: 66px;
    left: 130px;
}

.major {
	position: absolute;
	left: 500px;
    bottom: 0;
    width: 600px;
    height: 300px;
}

.major .major-name {
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 60px;
}
.major .course-label {
	position: absolute;
	top: 80px;
	width: 600px;
}
.major .course-name {
	position: absolute;
	color: #fff;
	font-size: 20px;
}
.major #course-name-1 {
	left: 0;
}
.major #course-name-2 {
	left: 170px;
}
.major #course-name-3 {
	left: 300px;
}
.major #course-name-4 {
	left: 450px;
}

.major .course-stars {
	position: absolute;
	top: 140px;
	width: 50px;
}

.major .course-stars .course-star {
	position: absolute;
	width: 50px;
}

.major .course-stars b {
	position: absolute;
	top: 1000px;
	width: 48px;
	height: 48px;
	background: url(../img/star.png);
}

#course-star-1 {
	left: 20px;
}
#course-star-2 {
	left: 190px;
}
#course-star-3 {
	left: 320px;
}
#course-star-4 {
	left: 470px;
}


.graduate {
	position: absolute;
    left: 1200px;
    bottom: 50px;
	width: 400px;
	height: 271px;
	background: url(../img/graduate400.png) no-repeat;
}



.gate {
    position: absolute;
    bottom: 0;
    width: 320px;
    height: 300px;
    background-image: url(../img/gate_red.png);
}

.gate.chinasoft-gate {
    background-image: url(../img/gate_blue.png);
}

.gate-name {
	position: absolute;
	font-size: 30px;
    color: #fff;
    text-align: center;
    top: 16px;
    left: 30px;
}

.gate-years {
	position: absolute;
	font-size: 20px;
    color: #fff;
    text-align: center;
    top: 66px;
    left: 100px;
}
.project-container {
	padding: 30px 50px;
}
.chinasoft-project {
	position: absolute;
	left: 430px;
	bottom: -100%;
	width: 500px;
	text-align: center;
    padding: 10px;
    color: #fff;
    background-color: #0072bc;
    font-family: "微软雅黑";
}
.chinasoft-project .project-container {
	background: #6197ba;
}
.chinasoft-project .project-name {
	font-size: 40px;
}
.certificate-icon {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 50px;
	height: 50px;
	background: url(../img/certificate.png) no-repeat;
}

.asiacom-project {
	position: absolute;
	bottom: -100%;
	width: 500px;
	text-align: center;
    padding: 10px;
    color: #fff;
    background-color: #f74444;
    font-family: "微软雅黑";
}
.asiacom-project .project-container {
	background: #ff6262;
}
.asiacom-project .project-name {
	font-size: 40px;
}

#asiacom-project-1 {
	left: 430px;
}
#asiacom-project-2 {
	left: 1030px;
}
#asiacom-project-3 {
	left: 1630px;
}
#asiacom-project-4 {
	left: 2230px;
}

#jfb {
    position: absolute;
	background: url(../img/jfb.png) no-repeat;
	bottom: 0;
	left: 1000px;
    width: 131px;
    height: 500px;
}
#dlt {
    position: absolute;
	background: url(../img/dlt.png) no-repeat;
	bottom: 0;
	left: 1132px;
    width: 670px;
    height: 300px;
}
#cqk {
    position: absolute;
	background: url(../img/cqk.png) no-repeat;
	bottom: 0;
	left: 1700px;
    width: 623px;
    height: 438px;
}

.ribbon-container {
    position: absolute;
    width: 100%;
    height: 75px;
    top: 5%;
    text-align: center;
    left: 10%;
}
.ribbon-left {
    position: relative;
    float: left;
    width: 55px;
    height: 75px;
    margin-right: -1px;
    background-image: url("../img/ribbon-left.png");
}
.ribbon-middle {
    position: relative;
    float: left;
    height: 50px;
    background-color: rgb(237, 28, 36);
    font-family: '微软雅黑';
    color: rgb(255, 255, 255);
    font-size: 36px;
}
.ribbon-right {
    position: relative;
    float: left;
    width: 55px;
    height: 75px;
    margin-left: -1px;
    background-image: url("../img/ribbon-right.png");
}